*{
    padding:0
}

.spinner{
    height:500px;
    display:flex;
    justify-content:center;
    align-items:center;
    }

    #button {
        display: inline-block;
        padding: 3px 5px;
        border: 1px solid #000;
        background: #eee;
    }